#Admin {
    margin-right: 20px ;
}
@media only screen and (mix-width: 800px) {
    #Admn {
        margin-right: 0px;
        padding-left: 20px !important;
        margin-right: 10% !important;
    }
  }
  