form {
    max-width: 500px;
}
form .file{
    margin-top: 20px;
}
form .btn{
    margin-top: 40px;
}
.search .fa-search {
position: absolute !important;
top: -40px !important;
left: 150px !important;
}
